# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build.gradle
.gradle
build

# other
eclipse
run
.DS_Store
.gitignore

# Files from Forge MDK
forge*changelog.txt